# Refer - https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/docker/docker-ignore.md#code-example--a-good-default-dockerignore-for-nodejs

**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
